/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#1e2326;
    color: #fff;
}

/* Estilos para la sección "inicio" */
.inicio {
    text-align: center;
    padding: 20px;
}

.inicio h1 {
    font-size: 28px;
}

.inicio p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para la sección "ubicacion" */
.ubicacion {
    text-align: center;
    padding: 20px;
}

.ubicacion h2 {
    font-size: 24px;
}

/* Estilos para el enlace de la ubicación */
.ubicacion a {
    font-size: 18px;
    color: #0077cc;
    text-decoration: none;
}

.ubicacion a:hover {
    color: #ff5500;
}

/* Media Query para dispositivos móviles (pantallas de hasta 768px de ancho) */
@media (max-width: 768px) {
    .inicio h1 {
        font-size: 24px;
    }

    .inicio p {
        font-size: 14px;
    }

    .ubicacion h2 {
        font-size: 20px;
    }

    .ubicacion a {
        font-size: 16px;
    }
}