/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#1e2326;
    color: #fff;
}

/* Estilos para la sección "inicio" */
.inicio {
    text-align: center;
    padding: 20px;
    background-size: 110%;
    background-position: right 10% center;
    background-repeat: no-repeat;
    color: white;
}

.inicio h1 {
    font-size: 28px;
    text-decoration: underline;
}

.inicio p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para la sección "ubicacion" */
.ubicacion {
    text-align: center;
    padding: 20px;
}

.ubicacion h2 {
    font-size: 24px;
}

.ubicacion span {
    text-decoration: underline;
}

.ubicacion span:hover {
    color: #ff5500;
}

/* Estilos para el enlace de la ubicación */
.ubicacion a {
    font-size: 18px;
    color: #0077cc;
    text-decoration: underline;
}

.ubicacion a:hover {
    color: #ff5500;
}

/* Estilos para el formulario */
#miFormulario {
    background-color: #1e2326;
    padding: 20px;
}

/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Estilos para los campos de entrada de texto */
input[type="text"],
select {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0055aa;
}


/* Media Query para dispositivos móviles (pantallas de hasta 768px de ancho) */
@media (max-width: 768px) {
    .inicio h1 {
        font-size: 24px;
    }

    .inicio p {
        font-size: 14px;
    }

    .ubicacion h2 {
        font-size: 20px;
    }

    .ubicacion a {
        font-size: 16px;
    }
}