*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
.inicio{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
}
.inicio h1{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    text-decoration: underline;
}
.inicio p{
    padding: 60px;
    margin: 30px;
    font-size: 30px;
    text-align: center;
}
.inicio .wp{
    font-size: 20px;
    padding: 60px;
    text-align: center;
}
.inicio .ubicacion{
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
}
.ubicacion a {
    color: #0077cc;
    text-decoration: underline;
}
.ubicacion a:hover {
    color: #fff;
}
.hora {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}